#loading {
  position: fixed;
}

#loading #loading_img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5, 0.5);
  display: block;
}

#loading #loadingRate {
  color: #7b7a79;
  font-size: 16px;
  font-family: "Microsoft YaHei", Helvetica, STXihei, Arial, SimSun,sans-serif;
  position: absolute;
  top: 42%;
  left: 52%;
  transform: translate(-50%, -50%);
}

#app {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#app #begin,
#app #game,
#app #share {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#app #game #game_stage {
  width: 100%;
  height: 100%;
}

#app #begin {
  position: relative;
}

#app #begin #begin_bg {
  position: relative;
  width: 100%;
  height: 100%;
}
#app #begin #begin_bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#app #begin #begin_clcik {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../asset/image/begin/begin.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#app #begin #video {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#app #share #share_stage {
  width: 100%;
  height: 100%;
}

#app #share #share_img {
  width: 100%;
  height: 100%;
}
