<div id="Add">
  <div class="input">
    <input type="text" placeholder="请输入补充的食物名称..." oninput="if(value.length > 6)value=value.slice(0, 6)">
    <div class="label">+1</div>
  </div>
  <div class="submit">没有啦</div>
</div>