<div id="Load">
  <div class="bg-img cloud-top"></div>
  <div class="bg-img cloud-left1"></div>
  <div class="bg-img cloud-left2"></div>
  <div class="bg-img cloud-bottom"></div>

  <div class="egg">
    <div class="gif gif-circle"></div>
    <div class="gif gif-center"></div>
  </div>

  <div class="rate"></div>
  <div class="text">正在进入挑食清单...</div>
<div>