#Load {
  width: 100%;
  height: 100%;
  background-color: #7c53f1;
  .bg-img {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .egg {
    // background-color: red;
    width: 2.4rem;
    height: 2.4rem;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .rate {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .48rem;
    font-weight: 900;
    font-family: "arial";
    color: white;
  }
  .cloud-top {
    animation: wave2 2s infinite alternate linear;
    top: 2.5rem;
    left: -.4rem;
    width: 1.5rem;
    height: 0.85rem;
    opacity: .8;
    background-image: url(../../../asset/Load/cloud-top.png);
  }
  .cloud-left1 {
    animation: wave1 3s infinite alternate linear;

    top: 7rem;
    left: -1rem;
    width: 4.03rem;
    height: 2.14rem;
    opacity: .5;
    background-image: url(../../../asset/Load/cloud-left1.png);
  }
  .cloud-left2 {
    top: 8rem;
    left: -1rem;
    width: 2.08rem;
    height: 1.36rem;
    background-image: url(../../../asset/Load/cloud-left2.png);
  }
  .cloud-bottom {
    animation: wave3 1s infinite alternate linear;

    bottom: 1rem;
    right: -1.5rem;
    width: 3.25rem;
    height: 1.56rem;
    opacity: .8;
    background-image: url(../../../asset/Load/cloud-bottom.png);
  }
  .gif {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .gif-circle {
    animation: rotating-circle 10s  infinite;
    width: 2.44rem;
    height: 2.41rem;
    background-image: url(../../../asset/Load/gif.png);
  }
  .gif-center {
    position: absolute;
    width: .94rem;
    height: .94rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../../asset/Load/gif-center.png);
  }
  .text {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .32rem;
    font-weight: 900;
    color: white;
  }
}


@keyframes rotating-circle {
  from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

@keyframes wave1 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-.6rem);
	}
}


@keyframes wave2 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-.2rem);
	}
}


@keyframes wave3 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(.2rem);
	}
}