body {
  .video {
    position: absolute;
    z-index: 20;
  }
  .gif {
    position: absolute;
    display: block;
    z-index: 10;
  }
  #rateOuter {
    // position: fixed;
    // top: 30%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // img {
    //   display: block;
    //   width: 175px;
    //   height: 150px;
    //   margin: 0 auto;
    // }
    // #rate {
    //   font-size: 24px;
    //   font-weight: 500;
    //   font-family: "Microsoft YaHei", Helvetica, STXihei, Arial, SimSun,sans-serif;
    //   color: #dab488;
    //   text-align: center;
    // }
  }
}
